table {
    background-color: #E6EDF3;
    font-size: 11px;
    font-weight: bold;
}

.table thead tr th{
    text-align: left;
    color: WHITE;
    background-color: #0067b2;
    whitespace: nowrap;
    padding-top: 2px;
    padding-bottom: 2px;
}

.table-curved {
    border-collapse: separate;
    border: solid #ccc 1px;
    border-radius: 6px;
    border-left: 0px;
    border-top: 0px;
}

.table-curved > thead:first-child > tr:first-child > th {
    border-bottom: 0px;
    border-top: solid #ccc 1px;
}
.table-curved td, .table-curved th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.table-curved > :first-child > :first-child > :first-child {
    border-radius: 4px 0 0 0;
}
.table-curved > :first-child > :first-child > :last-child {
    border-radius: 0 4px 0 0;
}
.table-curved > :last-child > :last-child > :first-child {
    border-radius: 0 0 0 4px;
}
.table-curved > :last-child > :last-child > :last-child {
    border-radius: 0 0 4px 0;
}


.input-sm {
padding: 2px;
font-size: 11px;
height: 20px;
}

.form-horizontal label {
font-size: 11px;
color: #003e6a;
}

.form-horizontal .control-label, .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
padding-top: 2px;
}

.panel-title {
    font-size: 12px;
    font-weight: bold;
}

.btn {
    padding: 4px 10px 4px;
    font-size: 11px;
    line-height: 18px;
}

.chosen-container {
    font-size: 11px;
}

.panel-heading {
    font-size: 11px;
    font-weight: bold;
}

.panel-body {
    font-size: 11px;
}

.chosen-container-single .chosen-single {
    height: 20px;
    line-height: 20px;
    padding: 0 0 0 2px;
}