<html xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xhtml="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
   <head>
      <title>Agency Inquiry</title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
      <meta http-equiv="Content-Style-Type" content="text/css" />
      <meta http-equiv="Content-Language" content="de"/>
      <meta charset="utf-8" />
      <meta name="country" content="Germany"/>
      <meta name="Language" content="de"/>
      <meta name="author" content="Verband der Vereine Creditreform e.V."/>
<style type="text/css">

[BASE_CSS]

.preformatted {
    font-family: monospace;
    white-space: pre;
}

div.preformatted {
    white-space: pre;
}

pre, code {
 padding:30px;
 box-sizing:border-box;
 -moz-box-sizing:border-box;
 webkit-box-sizing:border-box;
 display:block; 
 white-space: pre-wrap;
 white-space: -moz-pre-wrap;
 white-space: -pre-wrap;
 white-space: -o-pre-wrap;
 word-wrap: break-word;
 word-break: break-all;
 width:100%; overflow-x:auto;
 font-size: 7px; 
 font-weight: bold;
}
</style>
</head>
<body>
<div class="preformatted">
<pre>
[AGENCY_INQUIRY]
</pre>
</div>
</body>
</html>