label,input,button,select,textarea {
    font-size: 11px;
    font-weight: normal;
    line-height: 18px;
}

input,textarea,select,.uneditable-input {
    display: inline-block;
    width: 210px;
    padding: 2px;
    margin-bottom: 9px;
    font-size: 11px;
    height: 14px;
    line-height: 14px;
    color: #555555;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

select {
    width: 216px;
    background-color: #ffffff;
}

.form-actions {
    padding: 10px 20px 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.control-group {
    margin-bottom: 9px;
    font-size: 11px;
}

.form-horizontal .control-group {
    margin-bottom: 9px;
    *zoom: 1;
}

.form-horizontal .control-group:before,.form-horizontal .control-group:after
    {
    display: table;
    content: "";
}

.form-horizontal .control-label {
    float: left;
    width: 140px;
    text-align: right;
}

.table th {
    font-weight: bold;
    white-space: nowrap;
}

[class^="icon-"],[class*=" icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("../images/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
    *margin-right: .3em;
}

[class^="icon-"]:last-child,[class*=" icon-"]:last-child {
    *margin-left: 0;
}

.icon-white {
    background-image: url("../images/glyphicons-halflings-white.png");
}

.dropdown.open {
    *z-index: 1000;
}

.dropdown.open .dropdown-toggle {
    color: #ffffff;
    background: #008DD9;
    background: rgba(0, 0, 0, 0.3);
}

.btn {
    display: inline-block;
    padding: 4px 10px 4px;
    margin-bottom: 0;
    font-size: 11px;
    line-height: 18px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff),
        to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',
        endColorstr='#e6e6e6', GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled= false);
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
        rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
        rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
        rgba(0, 0, 0, 0.05);
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled= false);
    *margin-left: .3em;
}

.btn:hover,.btn:active,.btn.active,.btn.disabled,.btn[disabled] {
    background-color: #e6e6e6;
}

.nav-list>li>a,.nav-list .nav-header {
    margin-left: -38px;
    margin-right: -33px;
}

.nav-list .active>a,.nav-list .active>a:hover {
    color: #000000;
    background-color: #0088cc;
    border: 1px solid #005B8C;
    border-left-width: 0;
    border-right-width: 0
}

.nav-tabs>li {
    margin-bottom: -1px;
    margin-top: 4px
}

.nav-tabs>li>a {
    padding-top: 9px;
    padding-bottom: 9px;
    border: 1px solid #E6EDF3;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.nav-tabs>li>a:hover {
    border-color: #eeeeee #eeeeee #dddddd;
}

.nav-tabs>.active>a,.nav-tabs>.active>a:hover {
    color: #555555;
    background-color: #E6EDF3;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
}

.navbar-search {
    position: relative;
    float: left;
    margin-top: 6px;
    margin-bottom: 0;
}

.navbar-search .search-query {
    padding: 4px 9px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: normal;
    line-height: 1;
    color: #ffffff;
    color: rgba(255, 255, 255, 0.75);
    background: #666;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid #111;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px
        rgba(255, 255, 255, 0.15);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px
        rgba(255, 255, 255, 0.15);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px
        rgba(255, 255, 255, 0.15);
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.navbar-search .search-query :-moz-placeholder {
    color: #eeeeee;
}

.pagination {
    height: 40px;
    margin: 0 18 0 18px 0;
}